<div data-controller="menu" class="container" id="wrapper">
  <div class="row">
    <%= render('shared/collapsed_sidebar') %>
    <div class="col-lg-12">
      <% link_to 'New Course', new_course_path %>
      <div data-menu-target='container' class="container">
        <%= render('course_card', course: @course) %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'sidebar' %>
